# Imports

In [1]:
%load_ext autoreload
%autoreload 2

import pandas as pd
import numpy as np
import re

from src import gradio_utils

from src.parse_labeling import parse_labeled_file
from src.wikidata_utils import translate_term, wikidata_gradio

# Read File

## Concat ARC

benchmark_name = 'arc_ai2_comparison_90'

file_name = f'labeled_files/{benchmark_name}.txt'
csv_name = f'manual_compare/{benchmark_name}_FULL.csv'
label_df, or_df = parse_labeled_file(file_name, csv_name)

label_df.shape, or_df.shape

file_name = 'manual_compare/arc_ai2_comparison_91_200_FULL.csv'
or_df_more = pd.read_csv(file_name)
or_df_more.shape

display(label_df.head(2))
display(or_df.head(2))
display(or_df_more.head(2))

new_df = pd.concat([
    or_df[or_df_more.columns],
    or_df_more,
], ignore_index=True)
print(new_df.shape)
new_df.tail(3)

new_df.to_csv('manual_compare/arc_ai2_train_top_200_FULL.csv')

## Claude Version

new_df = pd.read_csv('manual_compare/claude_vers_comparison_FULL.csv')
new_df.head(3)

## GSM8K

In [ ]:
file_name = f'labeled_files/gsm8k_comparison_200.txt'
csv_name = f'manual_compare/gsm8k_comparison_200_FULL.csv'
old_label_df, new_df = parse_labeled_file(file_name, csv_name)

old_label_df.reset_index(inplace=True, drop=True)
new_df.reset_index(inplace=True, drop=True)

print((new_df['option 1'] == old_label_df['option 1']).sum())
print((new_df['option 2'] == old_label_df['option 2']).sum())

old_label_df.shape, new_df.shape

In [ ]:
new_df.index, old_label_df.index

In [ ]:
display(old_label_df.head(2))
display(new_df.head(2))

## MMLU

In [ ]:
new_df = pd.read_csv('manual_compare/mmlu_test_each_90_FULL.csv')
print(new_df.shape)
new_df.head(2)

In [ ]:
# Concat the train which was labeled
mmlu_train = pd.read_csv('labeled_files/mmlu_train_labeled_gradio.csv')
mmlu_train.fillna('', inplace=True)
mmlu_train = mmlu_train[(mmlu_train['gold'] != '') | (mmlu_train['rating'] != '')]
print(mmlu_train.shape)
mmlu_train.head(2)

## ARC only gemini

In [ ]:
new_df = pd.read_csv('compare_csv/arc_ai2_chall_test_503-853.csv')
print(new_df.shape)
new_df = new_df.tail(149 + 51).reset_index(drop=True)
print(new_df.shape)
new_df.head(2)

In [ ]:
arc_gemini_df = pd.DataFrame()
arc_gemini_df['text_column'] = new_df['original']
arc_gemini_df['new_text_column'] = new_df['gemini_pro_think_v2']
arc_gemini_df['gold'] = ''
arc_gemini_df['rating'] = ''
print(arc_gemini_df.shape)
arc_gemini_df.head(2)

In [ ]:
old_test_arc = pd.read_csv('labeled_files/arc_ai_TEST_labeled_gradio.csv')
old_test_arc = old_test_arc.fillna('')
old_test_arc['rating'] = old_test_arc['rating'].apply(str).replace('1.0', '1').replace('2.0', '2')

arc_gemini_df = pd.concat([old_test_arc, arc_gemini_df], ignore_index=True)
arc_gemini_df = arc_gemini_df.fillna('')
arc_gemini_df.shape

In [ ]:
display(arc_gemini_df.head())
display(arc_gemini_df.tail())

In [ ]:
arc_gemini_df.to_csv('labeled_files/arc_ai_TEST_2_labeled_gradio.csv', index=False)

## GSM only gemini

### For Israel

In [ ]:
# new_df = pd.read_csv('compare_csv/gsm8k_main_test_201-500.csv')
new_df = pd.read_csv('compare_csv/gsm8k_main_test_501-600.csv')
new_df_2 = pd.read_csv('compare_csv/gsm8k_main_test_601-1000.csv').head(200)
new_df = pd.concat([new_df, new_df_2], ignore_index=True)
print(new_df.shape)
new_df.head(2)

In [ ]:
gsm_gemini_df = pd.DataFrame()
gsm_gemini_df['text_column'] = new_df['original']
gsm_gemini_df['new_text_column'] = new_df['gemini_pro_think_v2']
gsm_gemini_df['gold'] = ''
gsm_gemini_df['rating'] = ''
print(gsm_gemini_df.shape)
gsm_gemini_df.head(2)

In [ ]:
old_test_gsm = pd.read_csv('labeled_files/gsm_TEST_labeled_gradio.csv')
old_test_gsm = old_test_gsm.fillna('')
old_test_gsm['rating'] = old_test_gsm['rating'].apply(str).replace('1.0', '1').replace('2.0', '2')

gsm_gemini_df = pd.concat([old_test_gsm, gsm_gemini_df], ignore_index=True)
gsm_gemini_df = gsm_gemini_df.fillna('')
gsm_gemini_df.shape

In [ ]:
display(gsm_gemini_df.head(2))
display(gsm_gemini_df.iloc[300:302])
display(gsm_gemini_df.tail(2))

In [ ]:
gsm_gemini_df.to_csv('labeled_files/gsm_TEST_labeled_gradio.csv', index=False)

### For Guy

In [ ]:
# overlap_df = pd.read_csv('compare_csv/gsm8k_main_test_201-500.csv').tail(70)
new_df = pd.read_csv('compare_csv/gsm8k_main_test_601-1000.csv').tail(250).reset_index(drop=True)

# new_df = pd.concat([overlap_df, new_df], ignore_index=True)

# new_df = pd.read_csv('compare_csv/gsm8k_main_test_501-600.csv')
print(new_df.shape)
display(new_df.head(2))
display(new_df.tail(2))

In [ ]:
gsm_gemini_df = pd.DataFrame()
gsm_gemini_df['text_column'] = new_df['original']
gsm_gemini_df['new_text_column'] = new_df['gemini_pro_think_v2']
gsm_gemini_df['gold'] = ''
gsm_gemini_df['rating'] = ''
print(gsm_gemini_df.shape)
gsm_gemini_df.head(2)

In [ ]:
display(gsm_gemini_df.head(3))
display(gsm_gemini_df.tail(3))

In [ ]:
gsm_gemini_df.to_csv('labeled_files/gsm_TEST_2_labeled_gradio.csv', index=False)

___

In [ ]:
more_gsm = pd.read_csv('compare_csv/gsm8k_main_test_1001-1150.csv')
more_gsm.shape

In [ ]:
more_gsm_gradio = pd.DataFrame()
more_gsm_gradio['text_column'] = more_gsm['original']
more_gsm_gradio['new_text_column'] = more_gsm['gemini_pro_think_v2']
more_gsm_gradio['gold'] = ''
more_gsm_gradio['rating'] = ''
print(more_gsm_gradio.shape)
more_gsm_gradio.head(2)

In [ ]:
old_test_gsm = pd.read_csv('labeled_files/gsm_TEST_2_labeled_gradio.csv')
old_test_gsm = old_test_gsm.fillna('')
old_test_gsm['rating'] = old_test_gsm['rating'].apply(str).replace('1.0', '1').replace('2.0', '2')

gsm_gemini_df = pd.concat([old_test_gsm, more_gsm_gradio], ignore_index=True)
gsm_gemini_df = gsm_gemini_df.fillna('')
gsm_gemini_df.shape

In [ ]:
display(gsm_gemini_df.head())
display(gsm_gemini_df.tail())

In [ ]:
gsm_gemini_df.to_csv('labeled_files/gsm_TEST_2_labeled_gradio.csv', index=False)

## MMLU only Gemini

new_df_1_1 = pd.read_csv('compare_csv/mmlu/mmlu_test_main_sub_300.csv')
new_df_1_2 = pd.read_csv('compare_csv/mmlu/mmlu_test_main_sub_301-500.csv')
new_df_1 = pd.concat([new_df_1_1, new_df_1_2], ignore_index=True)
new_df_1 = new_df_1[new_df_1.groupby('original').cumcount() == 0]
new_df_1 = new_df_1.iloc[::15]
new_df_1.shape

In [ ]:
old_israel = pd.read_csv('labeled_files/mmlu_main_sub_TEST_labeled_gradio.csv')
old_israel.shape

In [ ]:
new_df_2_1 = pd.read_csv('compare_csv/mmlu/mmlu_test_main_sub_501-700.csv')
new_df_2_2 = pd.read_csv('compare_csv/mmlu/mmlu_test_main_sub_701-892.csv')
new_df_2 = pd.concat([new_df_2_1, new_df_2_2], ignore_index=True)
print(new_df_2.shape)
new_df_2 = new_df_2[new_df_2.groupby('original').cumcount() == 0]
print(new_df_2.shape)
new_df_2 = new_df_2.iloc[::2]
print(new_df_2.shape)

new_df = new_df_2

new_df = pd.concat([new_df_1, new_df_2], ignore_index=True)
new_df = new_df.fillna('')
print(new_df.shape)
new_df.head()

In [ ]:
mmlu_gemini_df = pd.DataFrame()
mmlu_gemini_df['text_column'] = new_df['original']
mmlu_gemini_df['new_text_column'] = new_df['gemini_pro_think_v1']
mmlu_gemini_df['gold'] = ''
mmlu_gemini_df['rating'] = ''
print(mmlu_gemini_df.shape)
mmlu_gemini_df.tail(2)

In [ ]:
mmlu_gemini_df = pd.concat([old_israel, mmlu_gemini_df], ignore_index=True)
print(mmlu_gemini_df.shape)
mmlu_gemini_df = mmlu_gemini_df.fillna('')
mmlu_gemini_df.tail(3)

In [ ]:
mmlu_gemini_df['text_column'].is_unique

old_test_arc = pd.read_csv('labeled_files/arc_ai_TEST_labeled_gradio.csv')
old_test_arc = old_test_arc.fillna('')
old_test_arc['rating'] = old_test_arc['rating'].apply(str).replace('1.0', '1').replace('2.0', '2')

arc_gemini_df = pd.concat([old_test_arc, arc_gemini_df], ignore_index=True)
arc_gemini_df = arc_gemini_df.fillna('')
arc_gemini_df.shape

In [ ]:
display(mmlu_gemini_df.head())
display(mmlu_gemini_df.tail())

In [ ]:
(mmlu_gemini_df['gold'] != '').sum()

In [ ]:
mmlu_gemini_df.to_csv('labeled_files/mmlu_main_sub_TEST_labeled_gradio.csv', index=False)

___

mmlu_gemini_df = pd.read_csv('labeled_files/mmlu_main_sub_TEST_labeled_gradio.csv')
mmlu_gemini_df = mmlu_gemini_df.fillna('')
mmlu_gemini_df['rating'] = mmlu_gemini_df['rating'].apply(str).replace('1.0', '1').replace('2.0', '2')
mmlu_gemini_df.shape

mmlu_gemini_df.head(2)

manual = pd.read_excel('labeled_files/manual/mmlu_main_sub_TEST_labeled_gradio.xlsx')
manual = manual.fillna('')
manual['rating'] = manual['rating'].apply(str).replace('1.0', '1').replace('2.0', '2')
manual = manual[manual.groupby('text_column').cumcount() == 0].reset_index(drop=True)
manual.shape

(manual['text_column'] == mmlu_gemini_df['text_column']).all()

mmlu_gemini_df['rating'] = manual['rating']
mmlu_gemini_df['gold'] = manual['gold']

mmlu_gemini_df.to_csv('labeled_files/mmlu_main_sub_TEST_labeled_gradio.csv', index=False)

____

In [ ]:
new_df = pd.read_csv('compare_csv/mmlu/mmlu_test_prob_sub.csv')
new_df = new_df.fillna('')

new_df = new_df.iloc[1::2].reset_index(drop=True)

print(new_df.shape)
new_df.head()

In [ ]:
new_df['original'].is_unique

In [ ]:
mmlu_gemini_df = pd.DataFrame()
mmlu_gemini_df['text_column'] = new_df['original']
mmlu_gemini_df['new_text_column'] = new_df['gemini']
mmlu_gemini_df['gold'] = ''
mmlu_gemini_df['rating'] = ''
print(mmlu_gemini_df.shape)
mmlu_gemini_df.tail(2)

In [ ]:
display(mmlu_gemini_df.head())
display(mmlu_gemini_df.tail())

In [ ]:
mmlu_gemini_df.to_csv('labeled_files/mmlu_prob_TEST_2_gradio.csv', index=False)

## COPA (only gemini)

In [28]:
new_df_1 = pd.read_csv('compare_csv/copa/copa_train_cause.csv')
new_df_2 = pd.read_csv('compare_csv/copa/copa_train_effect.csv')
new_df_3 = pd.read_csv('compare_csv/copa/copa_test_cause.csv').head(15)
new_df_4 = pd.read_csv('compare_csv/copa/copa_test_effect.csv').head(15)

new_df_1['original'] = 'Cause:\n\n'  + new_df_1['original']
new_df_2['original'] = 'Effect:\n\n' + new_df_2['original']
new_df_3['original'] = 'Cause:\n\n'  + new_df_3['original']
new_df_4['original'] = 'Effect:\n\n' + new_df_4['original']

new_df = pd.concat([new_df_1, new_df_2, new_df_3, new_df_4], ignore_index=True)

print(new_df.shape)
new_df.head(2)

(530, 3)

,original,gemini,answer_label
0,Cause:\n\n<premise>My body cast a shadow over ...,<premise>הגוף שלי הטיל צל על הדשא.</premise>\n...,1
1,Cause:\n\n<premise>The woman tolerated her fri...,<premise>האישה סבלה את ההתנהגות הקשה של חברתה....,0

In [29]:
new_df['original'].value_counts().value_counts()

count
1    530
Name: count, dtype: int64

In [30]:
copa_gemini_df = pd.DataFrame()
copa_gemini_df['text_column'] = new_df['original']
copa_gemini_df['new_text_column'] = new_df['gemini']
copa_gemini_df['answer_label'] = new_df['answer_label']
copa_gemini_df['gold'] = ''
copa_gemini_df['rating'] = ''
print(copa_gemini_df.shape)
copa_gemini_df.head(2)

(530, 5)

,text_column,new_text_column,answer_label,gold,rating
0,Cause:\n\n<premise>My body cast a shadow over ...,<premise>הגוף שלי הטיל צל על הדשא.</premise>\n...,1,,
1,Cause:\n\n<premise>The woman tolerated her fri...,<premise>האישה סבלה את ההתנהגות הקשה של חברתה....,0,,

In [31]:
display(copa_gemini_df.head())
display(copa_gemini_df.tail())

,text_column,new_text_column,answer_label,gold,rating
0,Cause:\n\n<premise>My body cast a shadow over ...,<premise>הגוף שלי הטיל צל על הדשא.</premise>\n...,1,,
1,Cause:\n\n<premise>The woman tolerated her fri...,<premise>האישה סבלה את ההתנהגות הקשה של חברתה....,0,,
2,Cause:\n\n<premise>The women met for coffee.</...,<premise>הנשים נפגשו לקפה.</premise>\n<choice1...,1,,
3,Cause:\n\n<premise>The runner wore shorts.</pr...,<premise>הרצה לבשה מכנסיים קצרים.</premise>\n<...,1,,
4,Cause:\n\n<premise>The guests of the party hid...,<premise>אורחי המסיבה התחבאו מאחורי הספה.</pre...,0,,

,text_column,new_text_column,answer_label,gold,rating
525,Effect:\n\n<premise>The man anticipated cold w...,<premise>האיש ציפה למזג אוויר קר בטיול שלו.</p...,0,,
526,Effect:\n\n<premise>The student knew the answe...,<premise>התלמיד ידע את התשובה לשאלה.</premise>...,0,,
527,Effect:\n\n<premise>The player won five games ...,<premise>השחקנית ניצחה בחמישה משחקים ברציפות.<...,0,,
528,Effect:\n\n<premise>The man lost weight.</prem...,<premise>האיש ירד במשקל.</premise>\n<choice1>א...,1,,
529,Effect:\n\n<premise>The circus performer juggl...,<premise>אמן הקרקס להטט תוך כדי רכיבה על חד-או...,0,,

In [32]:
copa_gemini_df.to_csv('labeled_files/copa_TRAIN_gradio.csv', index=False)

## HellaSwag (only gemini)

183 to Israel
50 + 269 to Guy

In [2]:
new_df = pd.read_csv('compare_csv/hellaswag/hellaswag_test_801-1300.csv').head(183)

print(new_df.shape)
new_df.head(2)

(183, 4)

,original,gemini,answer_label,question ind
0,<activity_label>Playing violin</activity_label...,<activity_label>נגינה בכינור</activity_label>\...,0,11070
1,<activity_label>Playing violin</activity_label...,<activity_label>נגינה בכינור</activity_label>\...,3,11071

In [3]:
new_df['original'].value_counts().value_counts()

count
1    183
Name: count, dtype: int64

In [4]:
hella_gemini_df = pd.DataFrame()
hella_gemini_df['text_column'] = new_df['original']
hella_gemini_df['new_text_column'] = new_df['gemini']
hella_gemini_df['answer_label'] = new_df['answer_label']
hella_gemini_df['question ind'] = new_df['question ind']
hella_gemini_df['gold'] = ''
hella_gemini_df['rating'] = ''
print(hella_gemini_df.shape)
hella_gemini_df.head(2)

(183, 6)

,text_column,new_text_column,answer_label,question ind,gold,rating
0,<activity_label>Playing violin</activity_label...,<activity_label>נגינה בכינור</activity_label>\...,0,11070,,
1,<activity_label>Playing violin</activity_label...,<activity_label>נגינה בכינור</activity_label>\...,3,11071,,

In [5]:
hella_gemini_df['text_column'] = 'Answer: ' + (hella_gemini_df['answer_label'] + 1).astype(str) + '\n\n' + hella_gemini_df['text_column']

In [6]:
display(hella_gemini_df.head())
display(hella_gemini_df.tail())

,text_column,new_text_column,answer_label,question ind,gold,rating
0,Answer: 1\n\n<activity_label>Playing violin</a...,<activity_label>נגינה בכינור</activity_label>\...,0,11070,,
1,Answer: 4\n\n<activity_label>Playing violin</a...,<activity_label>נגינה בכינור</activity_label>\...,3,11071,,
2,Answer: 4\n\n<activity_label>Playing violin</a...,<activity_label>נגינה בכינור</activity_label>\...,3,11072,,
3,Answer: 4\n\n<activity_label>Playing violin</a...,<activity_label>נגינה בכינור</activity_label>\...,3,11073,,
4,Answer: 3\n\n<activity_label>Running a maratho...,<activity_label>ריצת מרתון</activity_label>\n<...,2,11123,,

,text_column,new_text_column,answer_label,question ind,gold,rating
178,Answer: 2\n\n<activity_label>Having an ice cre...,<activity_label>אכילת גלידה</activity_label>\n...,1,14387,,
179,Answer: 2\n\n<activity_label>Wrapping presents...,<activity_label>עטיפת מתנות</activity_label>\n...,1,14388,,
180,Answer: 2\n\n<activity_label>Wrapping presents...,<activity_label>עטיפת מתנות</activity_label>\n...,1,14389,,
181,Answer: 2\n\n<activity_label>Wrapping presents...,<activity_label>עטיפת מתנות</activity_label>\n...,1,14390,,
182,Answer: 3\n\n<activity_label>Scuba diving</act...,<activity_label>צלילת סקובה</activity_label>\n...,2,14401,,

In [7]:
old_hella = pd.read_csv('labeled_files/hellaswag_TEST_gradio.csv')
old_hella.shape

(690, 18)

In [8]:
hella_gemini_df = pd.concat([old_hella, hella_gemini_df], ignore_index=True)
hella_gemini_df = hella_gemini_df.fillna('')
hella_gemini_df.shape

(873, 18)

In [10]:
hella_gemini_df.to_csv('labeled_files/hellaswag_TEST_gradio.csv', index=False)
# hella_gemini_df.to_csv('labeled_files/hellaswag_TEST_2_gradio.csv', index=False)

# Create UI

## Create new file

def enter_to_text(x):
    return f"""Option 1:
{x['option 1']}

Option 2:
{x['option 2']}"""

labeled_df = pd.DataFrame()
labeled_df['text_column'] = new_df['original']
labeled_df['new_text_column'] = new_df.apply(enter_to_text, axis=1)
labeled_df['gold'] = ''
labeled_df['rating'] = ''

# maybe add?
labeled_df['model 1'] = new_df['model 1']
labeled_df['model 2'] = new_df['model 2']
print(labeled_df.shape)
labeled_df.head(2)

# Check matching and add already lebeled gold and rating
print(labeled_df.index, old_label_df.index)

for i in range(old_label_df.shape[0]):
    if not old_label_df['option 1'].iloc[i] in labeled_df['new_text_column'].iloc[i]:
        print(i)
        break
else:
    print('hey!')

# Add the already-labeled gold and rating for the top arc samples
labeled_df.loc[:, ['gold', 'rating']] = old_label_df[['gold', 'rating']]
display(labeled_df.head(2))

# Concat with train-labeled mmlu
labeled_df = pd.concat([labeled_df, mmlu_train], ignore_index=True)
print(labeled_df.shape)
labeled_df.tail(2)

labeled_df.to_csv(save_to, index=False)

## Create overlap file

In [ ]:
gsm_save_to = 'labeled_files/gsm8k_labeled_gradio.csv'
arc_save_to = 'labeled_files/arc_ai_labeled_gradio.csv'
mmlu_save_to = 'labeled_files/mmlu_test_labeled_gradio.csv'

# overlap_save_to = 'labeled_files/overlap_gradio.csv'

def read_and_fill(file_path):
    df = pd.read_csv(file_path)
    return df.fillna('')
    
gsm_labeled_df = read_and_fill(gsm_save_to)
arc_labeled_df = read_and_fill(arc_save_to)
mmlu_labeled_df = read_and_fill(mmlu_save_to)

concat_columns = arc_labeled_df.columns

concat_lst = [
    arc_labeled_df.iloc[10:40][concat_columns],
    gsm_labeled_df.iloc[10:40][concat_columns],
    mmlu_labeled_df.iloc[10:40][concat_columns],
]

for df in concat_lst:
    df['overlap_indx'] = range(10, 40)

second_labeler_overlap = pd.concat(concat_lst, ignore_index=True)
# second_labeler_overlap['gold'] = ''
# second_labeler_overlap['rating'] = ''

second_labeler_overlap.iloc[28:32]

second_labeler_overlap.to_csv('labeled_files/overlap_israel.csv', index=False)

concat_columns = ['text_column', 'new_text_column']

concat_lst = [
    arc_labeled_df.iloc[10:40][concat_columns],
    gsm_labeled_df.iloc[10:40][concat_columns],
    mmlu_labeled_df.iloc[10:40][concat_columns],
]

for df in concat_lst:
    df['overlap_indx'] = range(10, 40)

second_labeler_overlap = pd.concat(concat_lst, ignore_index=True)
second_labeler_overlap['gold'] = ''
second_labeler_overlap['rating'] = ''

second_labeler_overlap.iloc[28:32]

second_labeler_overlap.to_csv(overlap_save_to, index=False)

## Run existing file

In [ ]:
mmlu_save_to = 'labeled_files/mmlu_prob_TEST_gradio.csv'
# mmlu_save_to = 'labeled_files/check_this.csv'

In [ ]:
mmlu_labeled_df = pd.read_csv(mmlu_save_to)
mmlu_labeled_df = mmlu_labeled_df.fillna('')
mmlu_labeled_df['rating'] = mmlu_labeled_df['rating'].apply(str).replace('1.0', '1').replace('2.0', '2')

display(mmlu_labeled_df.head(2))
display(mmlu_labeled_df.tail(2))

In [ ]:
mmlu_labeled_df['rating'].dtype

In [ ]:
# This is the MMLU server
mmlu_server = gradio_utils.run_annotator(mmlu_labeled_df, mmlu_save_to, ' MMLU only')
# wiki_server = wikidata_gradio()

In [ ]:
mmlu_server.close()

In [ ]:
wiki_server.close()

___

In [2]:
hella_save_to = 'labeled_files/hellaswag_TEST_gradio.csv'

In [3]:
hella_labeled_df = pd.read_csv(hella_save_to)
hella_labeled_df = hella_labeled_df.fillna('')
hella_labeled_df['rating'] = hella_labeled_df['rating'].apply(str).replace('1.0', '1').replace('2.0', '2')

In [4]:
hella_labeled_df.shape, hella_labeled_df['rating'].dtype

((873, 18), dtype('O'))

In [5]:
# This is the hella server
hella_server = gradio_utils.run_annotator(hella_labeled_df, hella_save_to, ' hella only')

* Running on local URL:  http://127.0.0.1:7860
* Running on public URL: https://1c1803cf392db2f229.gradio.live

This share link expires in 1 week. For free permanent hosting and GPU upgrades, run `gradio deploy` from the terminal in the working directory to deploy to Hugging Face Spaces (https://huggingface.co/spaces)

In [ ]:
hella_server.close()

___

In [6]:
second_hella_save_to = 'labeled_files/hellaswag_TEST_2_gradio.csv'

In [7]:
second_hella_labeled_df = pd.read_csv(second_hella_save_to)
second_hella_labeled_df = second_hella_labeled_df.fillna('')
second_hella_labeled_df['rating'] = second_hella_labeled_df['rating'].apply(str).replace('1.0', '1').replace('2.0', '2')

In [8]:
display(second_hella_labeled_df.head(2))
display(second_hella_labeled_df.tail(2))

,text_column,new_text_column,answer_label,question ind,gold,rating
0,Answer: 1\n\n<activity_label>Braiding hair</ac...,<activity_label>קליעת צמות</activity_label>\n<...,0,13435,,
1,Answer: 3\n\n<activity_label>Braiding hair</ac...,<activity_label>קליעת צמות</activity_label>\n<...,2,13436,,

,text_column,new_text_column,answer_label,question ind,gold,rating
317,Answer: 4\n\n<activity_label>Layup drill in ba...,<activity_label>תרגול צעד וחצי בכדורסל</activi...,3,18836,,
318,Answer: 1\n\n<activity_label>Sharpening knives...,<activity_label>השחזת סכינים</activity_label>\...,0,18869,,

In [9]:
second_hella_labeled_df['rating'].dtype, second_hella_labeled_df.shape

(dtype('O'), (319, 6))

In [10]:
# This is the hella server
second_hella_server = gradio_utils.run_annotator(second_hella_labeled_df, second_hella_save_to, ' HellaSwag only')
second_wiki_server = wikidata_gradio()

* Running on local URL:  http://127.0.0.1:7861
* Running on public URL: https://86ae81c09cd525afc1.gradio.live

This share link expires in 1 week. For free permanent hosting and GPU upgrades, run `gradio deploy` from the terminal in the working directory to deploy to Hugging Face Spaces (https://huggingface.co/spaces)
* Running on local URL:  http://127.0.0.1:7862
* Running on public URL: https://c5d00af34d7ce68fcf.gradio.live

This share link expires in 1 week. For free permanent hosting and GPU upgrades, run `gradio deploy` from the terminal in the working directory to deploy to Hugging Face Spaces (https://huggingface.co/spaces)

In [ ]:
second_hella_server.close()

In [ ]:
second_wiki_server.close()

___

second_copa_save_to = 'labeled_files/copa_TEST_gradio.csv'

second_copa_labeled_df = pd.read_csv(second_copa_save_to)
second_copa_labeled_df = second_copa_labeled_df.fillna('')
second_copa_labeled_df['rating'] = second_copa_labeled_df['rating'].apply(str).replace('1.0', '1').replace('2.0', '2')

second_copa_labeled_df['rating'].dtype

# This is the second_copa server
second_copa_server = gradio_utils.run_annotator(second_copa_labeled_df, second_copa_save_to, ' COPA only')

second_copa_server.close()

___

gsm_second_labeler_save_to = 'labeled_files/gsm_TEST_2_labeled_gradio.csv'

gsm_second_labeled_df = pd.read_csv(gsm_second_labeler_save_to)
gsm_second_labeled_df = gsm_second_labeled_df.fillna('')
gsm_second_labeled_df['rating'] = gsm_second_labeled_df['rating'].apply(str).replace('1.0', '1').replace('2.0', '2')

gsm_second_labeled_df.shape

# Different servers
gsm_second_labeler_server = gradio_utils.run_annotator(gsm_second_labeled_df, gsm_second_labeler_save_to, 'GSM8K second - ')

second_labeler_server.close()

### Fix Fix Fix

In [11]:
mmlu_save_to = 'labeled_files/mmlu_test_labeled_gradio.csv'
# mmlu_save_to = 'labeled_files/check_this.csv'

In [12]:
mmlu_labeled_df = pd.read_csv(mmlu_save_to)
mmlu_labeled_df = mmlu_labeled_df.fillna('')
mmlu_labeled_df['rating'] = mmlu_labeled_df['rating'].apply(str).replace('1.0', '1').replace('2.0', '2')

display(mmlu_labeled_df.head(2))
display(mmlu_labeled_df.tail(2))

In [14]:
mmlu_labeled_df['rating'].dtype

dtype('O')

In [15]:
mmlu_labeled_df.shape

(177, 18)

In [16]:
# This is the MMLU server
mmlu_server = gradio_utils.run_annotator(mmlu_labeled_df, mmlu_save_to, ' MMLU only')
# wiki_server = wikidata_gradio()

* Running on local URL:  http://127.0.0.1:7863
* Running on public URL: https://eafa7306e0fc2a683e.gradio.live

This share link expires in 1 week. For free permanent hosting and GPU upgrades, run `gradio deploy` from the terminal in the working directory to deploy to Hugging Face Spaces (https://huggingface.co/spaces)

In [17]:
mmlu_server.close()

Closing server running on port: 7863